{% extends 'base.html' %}

{% block title %}
<title>管理員介面</title>

<script>
	window.onload = function () {
		CheckWeb();
	}
</script>
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div style="display: flex; flex-direction: column;">
            <div style="margin: auto;">
                <h1>管理員介面</h1>
            </div>
            <div style="background-color: gray; width: 400px; height: 300px; margin: 0px auto; position: relative;"></div>
        </div>
        <div style="display: flex; justify-content: center; margin: 10px 0;">
            <button onclick="window.location.href = '/register/'" style="font-size: 15px;">借用</button>
            <button onclick="window.location.href = '/return/'" style="margin: 0 20px; font-size: 15px;">歸還</button>
            <button onclick="window.location.href = '/report/'" style="font-size: 15px;">報表下載</button>
        </div>
    </div>
{% endblock %}