{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

    <script type="text/javascript" src="{% static 'js/visitor_data.js' %}"></script>

    {% block title %}
    {% endblock %}

</head>

<body>
        <!--System Logo-->
    <div id="logo">
        <a href="http://127.0.0.1:8000/"><img src="/static/assect/Logo.png" height="150px"></a>
        {% if request.user.is_authenticated %}
        <log><a href="{% url 'logout' %}">登出</a></log>
        {% else %}
        <log><a href="/admin/login/?next=/admin/">登入</a></log>
        {% endif %}
    </div>
    <hr class="line">
    <!--導覽列-->
    {% if request.user.is_authenticated %}
    <div id="admin_navbar">
        <nav>
            <ui id="sidebar">
                <li><a href="../register">訪客證登記</a>
                </li>
                <li><a href="../return">歸還訪客證</a></li>
                <li><a href="../report">報表</a></li>
            </ui>
        </nav>
    </div>
    {% endif %}
    <div style="border: 1px solid; float: left; height: 360px; color: #EEEE;"></div>
    {% block content %}
    {% endblock %}
    <footer class="footer">
        ©2021 外賓登記系統
    </footer>

</body>

</html>