{% include 'base.html' %}

{% block title %}
<title>訪客證登記</title>
{% endblock %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <div class="form-group col-md-6">
            <div style="margin-left: 55%; width:500px;">
                <h1>借用者資訊確認</h1>
                <div style="font-size: medium; text-indent: 2em;">
                    <p>姓名：{{ person.visitor_name }}</p>
                    <p>身分證：{{ person.visitor_id }}</p>
                    <p>校友證號：{{ person.Alumni_id }}</p>
                    <p>借用地點：{{ form.place }}</p>
                    <p>借用訪客證：{{ form.visitor_card }}</p>
                    <p><input class="btn btn-success" type="submit" value="確認" onclick="alert('確認借出')"></p>
                </div>
            </div>
        </div>
    </div>
</form>