{% include 'base.html' %}


{% block title %}
<title>報表介面</title>
{% endblock %}


<h1>報表介面</h1>
<input type="text" name="" list="report_type" onchange="">
<datalist id="report_type">
	<option>詳細資料</option>
	<option>借還人次</option>
</datalist>
<!-- 詳細資料 -->
<div>
	<input type="text" name="" list="start_date" onchange="">
	<datalist id="start_date">
		<option>1</option>
		<option>2</option>
		<option>3</option>
		<option>4</option>
		<option>5</option>
		<option>6</option>
		<option>7</option>
		<option>8</option>
		<option>9</option>
		<option>10</option>
		<option>11</option>
		<option>12</option>
	</datalist>	

	<input type="text" name="" list="end_date" onchange="">
	<datalist id="end_date">
		<option>1</option>
		<option>2</option>
		<option>3</option>
		<option>4</option>
		<option>5</option>
		<option>6</option>
		<option>7</option>
		<option>8</option>
		<option>9</option>
		<option>10</option>
		<option>11</option>
		<option>12</option>
	</datalist>	
</div>
<!-- 借還人次 -->
<div>
	
</div>