{% include 'base.html' %}

{% block title %}
<title>註冊</title>
{% endblock %}

<script>
	console.log('{{ errmsg }}')
	if ('{{ errmsg }}' != "") {
		alert('{{ errmsg }}');
	}

	window.onload = function () {
		LoadData();
		CheckWeb();
	}
</script>

<form method="POST" autocomplete="off">
	{% csrf_token %}
	<div style="display: flex;">
		<div style="margin: auto;">
			<h2>訪客註冊</h2>
		</div>
	</div>

	<div class="form-group" style="display: flex;">
		<div class="form-group" style="margin: auto; border: 2px ; padding: 0 10px; position: relative;">
			<div class="block" onchange="CheckVisitorId()">
				<label for="id_visitor_id">身分證字號</label>{{ form.visitor_id }}
			</div>

			<div class="block">
				<label for="id_visitor_name">姓名</label>{{ form.visitor_name }}
			</div>

			<div class="block">
				<label for="id_Alumni_id">校友證字號</label>{{ form.Alumni_id }}
			</div>

			<div class="block">
				<label for="id_phone_num">連絡電話</label>{{ form.phone_num }}
			</div>

			<div class="block">
				<label for="id_email">電子郵件</label>{{ form.email }}
			</div>

			<div class="block-2">
				<label>住家地址</label>
				<div class="block-3">
					<div class="item">
						<input type="text" required="required" name="home_address_city" list="home_cities"
							onchange="UpdateData('home')" id="ha1">
						<datalist id="home_cities">
						</datalist>
					</div>
					<div class="item-2">
						<input type="text" required="required" name="home_address_area" list="home_areas" id="ha2">
						<datalist id="home_areas">
						</datalist>
					</div>
					<div class="item">
						<input type="text" required="required" name="home_address" id="ha3">
					</div>
				</div>
			</div>


			<div class="block-2">
				<label>通訊地址</label>
				<div class="block-3">
					<div class="item">
						<input type="text" required="required" name="mail_address_city" list="mail_cities"
							onchange="UpdateData('mail')" id="ma1" class="short-input">
						<datalist id="mail_cities">
						</datalist>
					</div>
					<div class="item-2">
						<input type="text" required="required" name="mail_address_area" list="mail_areas" id="ma2"
							class="short-input">
						<datalist id="mail_areas">
						</datalist>
					</div>
					<div class="item">
						<input type="text" required="required" name="mail_address" id="ma3">
					</div>
				</div>
				<input type="checkbox" name="按鈕名稱" onchange="CopyAddress()">同住家地址
			</div>

			<div class="block-2">
				<input class="btn btn-success" type="submit" value="註冊" />
			</div>
		</div>
	</div>
</form>