{% extends 'base.html' %}

{% block title %}
<title>讀者介面</title>

<script>
	console.log('{{ message }}')
	if ('{{ message }}' != "") {
		alert('{{ message }}');
	}
</script>
{% endblock %}

{% block content %}
<div style="display: flex; flex-direction: column;">
	<div style="margin: auto;">
		<h1>讀者介面</h1>
	</div>
	<div style="background-color: gray; width: 400px; height: 300px; margin: 0px auto; position: relative;"></div>
</div>
<div style="display: flex; justify-content: center; margin: 10px 0;">
	<button onclick="window.location.href='/user/sign_in/'" style="margin: 0 20px 0 0; font-size: 15px;">註冊</button>
	<button onclick="window.location.href='/user/send_revise_email/'" style="font-size: 15px;">修改資料</button>
</div>
{% endblock %}