{% include 'base.html' %}

{% block title %}
<title>讀者介面</title>
{% endblock %}
<script>
	console.log('{{ message }}')
	if ('{{ message }}' != ""){
		alert('{{ message }}');
	}
    
    window.onload = function () {
		CheckWeb();
	}
</script>
<div style="text-align: center;">
	<h1>讀者介面</h1>
	<div style="background-color: gray; width: 400px; height: 300px; margin: 0px auto;"></div>
	<p></p>
	<button onclick="window.location.href='/user/sign_in/'">註冊</button>
	<button onclick="window.location.href='/user/send_revise_email/'">修改資料</button>
</div>