.block {
    margin: 20px 0px;
    height: auto;
    width: auto;
    font-size: 17px;
}

.block label {
    width: auto;
}

.block input {
    width: 100%;
}

.block-2 {
    margin: 20px 0px;
    height: auto;
    width: auto;
    font-size: 17px;
}

#ha3 {
    width: 100%;
    margin: 5px 0 0 0;
}

#ma3 {
    width: 100%;
    margin: 5px 0 0 0;
}